<div class="jumbotron">
    <h1 class="text-center">Car Insurance</h1>
    <p class="lead text-center">Click here get a quote from our company.</p>
    <div class="text-center">
        <p><a href="/Quote/Index" class="btn btn-primary btn-lg">Get a quote &raquo;</a></p>
    </div>
</div>